/**************************** header **************************/
.header {
    width: 100%;
    max-width: 1920px;
    max-height: 70px;
    align-items: center;
    padding: 0 20px;
    transition: all ease .5s;
}

.header::before {
    content: '';
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    transition: height 0.5s;
}

.header:hover::before {
    height: 230px;
}

.header .wrap {
    justify-content: space-between;
}

.header.hide {
    transform: translateY(-100%);
}

.header .header__gnb {
    width: 50%;
    transition: all 0.6s;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 999;
}

.header .header__logo {
    width: 10%;
    height: 100%;
    align-items: center;
    z-index: 999;
    margin-top: 1%;
}

.header .header__gnb .header__lnb-name {
    width: 100%;
    font-size: 1.2em;
    font-weight: 500;
}

.header .header__gnb .header__lnb-name:hover,
.header .header__gnb .header__lnb-list li:hover {
    color: #E50019;
}

.header .header__gnb .header__gnb-list {
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.header .header__gnb .header__lnb-list,
.header .header__btn .header__language-options {
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    margin-top: 15px;
}

.header .header__gnb .header__gnb-list .header__gnb-item,
.header .header__btn .header__language {
    position: relative;
    padding: 20px 0;
    flex: 1 0 auto;
}

/*.header .header__gnb .header__gnb-list .header__gnb-item {*/
/*    width: calc(100%/4);*/
/*}*/

.header .header__gnb:hover .header__gnb-list li:last-child {
    margin-bottom: 0;
}

.header_on .header__gnb {
    width: 65%;
}

.header_on .header__gnb .header__lnb-list,
.header .header__btn .header__language:hover .header__language-options {
    opacity: 1;
    visibility: visible;
}

.header .header__btn {
    width: 10%;
    text-align: center;
    z-index: 999;
}

.header__btn .header__language .header__current-language {
    font-weight: 500;
}

.header__btn .header__language .header__language-options li:hover {
    font-weight: 600;
}

.header__search-button {
    margin-top: 15px;
    width: 100%;
    max-width: 40px;
}

.header__search {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.header__search .header__search-input {
    width: 80%;
    max-width: 1000px;
    height: 70px;
    position: fixed;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    transition: all 0.5s ease-in-out;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}

.header__search .header__search-back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;

}

.header__search-on {
    transition: all 0.5s ease-in-out;
    z-index: 9;
}

.header__search-on .header__search-input,
.header__search-on .header__search-back {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.header__search .header__search-input form {
    position: relative;
    padding: 0 30px;
    width: 100%;
    max-width: 1000px;
}

.header__search .header__search-input form label {
    width: 100%;
}

.header__search .header__search-input form input {
    width: 100%;
    border: none;
    font-size: 1rem;
    color: #777;
    height: 70px;
}

.header__search .header__search-input form input:focus {
    outline: none;
}

.header__search .header__search-input form .header__search-submit {
    width: 50px;
}

.header__search .header__search-input .header__search-close {
    width: 40px;
    position: absolute;
    top: -65%;
    left: 96%;
    color: #FFFFFF;
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(6570%) hue-rotate(188deg) brightness(115%) contrast(100%);
}

/**************************** section1 **************************/
.sec1 {
    margin-bottom: 100px;
}

/**************************** section2 **************************/
.sec2__title {
    font-size: 3em;
    text-align: center;
}

.sec2__select-options {
    background-color: #EFECEC;
    text-align: center;
}

.sec2__select-options .wrap {
    justify-content: space-evenly;
    padding: 25px 0;
}

.sec2__select-option__list, .sec2__select-option {
    background-color: #FFFFFF;
    padding: 10px 60px;
    border: 3px solid #E50019;
    border-radius: 15px;
}

.sec2__select-result {
    padding: 10px 40px;
}

.sec2__select-result ul li {
    padding-bottom: 10px;
}

.sec2__select-option__name, .sec2__select-result__name {
    font-size: 2.8em;
    font-weight: 600;
    text-transform: capitalize;
    color: #E50019;
    margin-bottom: 15px;
}

.sec2__button,
.sec2__select-result ul li {
    width: 100%;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 10px;
}

.sec2__select-option__list ul li,
.sec2__select-option ul li,
.sec2__select-result ul li {
    border-bottom: 1px solid #333333;

}

.sec2__select-option__list ul li:last-child,
.sec2__select-option ul li:last-child,
.sec2__select-result ul li:last-child {
    border-bottom: none;
}

.sec2__submit-button {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 50px;
    border-radius: 10px;
    background-color: #E50019;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 500;
}

.sec2__submit-button:hover {
    background-color: #FFFFFF;
    color: #E50019;
}

.sec2__description {
    font-size: 1.8em;
    font-weight: 500;
}

/**************************** section3 **************************/

.sec3 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.sec3 .swiper-sec {
    margin-top: 100px;
}

.mySwiper2 {
    max-width: 1600px;
    width: 100%;
}

.sec3 .swiper-button-next,
.sec3 .swiper-button-prev {
    width: 75px;
}

.sec3 .swiper-button-next::after,
.sec3 .swiper-button-prev::after {
    display: none;
}

/**************************** section4 **************************/
.sec4 .flx {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.sec4 .sec4__left-slider,
.sec4 .sec4__right-slider {
    max-width: 800px;
    height: 100%;
    max-height: 550px;
}

.sec4 .sec4__left-slider {
    width: 45%;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #dddddd   ;
}

.sec4__left-slider::-webkit-scrollbar {
    width: 5px;
}

.sec4__left-slider::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.sec4__left-slider::-webkit-scrollbar-thumb {
    background: #E50019;
    border-radius: 5px;
}

.sec4 .sec4__right-slider {
    width: 80%;
}

.sec4__left-slider__container {
    overflow: hidden;
}

.sec4__left-slider__container .slide {
    margin-bottom: 10px;
}

.sec4__left-slider__container .slide:last-child {
    margin-bottom: 0;
}

.sec4__right-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


/**************************** section5 **************************/

.sec5 .flx {
    justify-content: space-between;
}

.sec5 .sec5__left-sec,
.sec5 .sec5__right-sec {
    width: 45%;
}

/**************************** section6 **************************/
.sec6 .wrap {
    position: relative;
}

.sec6 .sec6__action {
    position: absolute;
    top: 5%;
    right: 0;
    text-align: right;
}

.sec6__sns-icons,
.sec6__newsletter-input {
}

.sec6__sns-icons {
}

.sec6__sns-icons a {
    margin-right: 10px;
}

.sec6__newsletter-input {
    width: 100%;
    max-width: 600px;
    justify-content: right;
}

.sec6__newsletter-input label {
    width: 100%;
}

.sec6__newsletter-input label input {
    background-color: #FFFFFF;
    border: 3px solid #E50019;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    height: 50px;
    color: #6f6f6f;
    text-align: center;
}

.sec6__newsletter-input .sec6__newsletter-submit {
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    background-color: #E50019;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
}

/**************************** footer **************************/

.footer {
    height: 400px;
    background-color: black;
    color: #FFFFFF;
}

.footer .footer__wrap {
    height: 100%;
}

.footer .footer__wrap.flx {
    justify-content: space-between;
}

.footer__left,
.footer__right {
    text-align: center;
    margin: auto 0;
}

.footer__left {
    width: 65%;
}

.footer__right {
    width: 35%;
}

.footer__left .footer__ul > li {
    width: calc(100% / 4);
    margin-right: 20px;
}

.footer__left .footer__ul > li:last-child {
    margin-right: 0;
}

.footer__left .footer__ul.flx {
    justify-content: space-evenly;
}

.footer__left .footer__ul .footer__title {
    margin-bottom: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #FFFFFF;
}

.footer__left .footer__ul li ul li {
    width: 100%;
    margin-bottom: 15px;
    font-weight: 100;
    position: relative;
}

.footer__left .footer__ul li ul li:hover {
    font-weight: 300;
}

.footer__left .footer__ul li ul li:after {
    content: '';
    border-bottom: 1px dotted #FFFFFF;
    position: absolute;
    top: 30px;
    left: 10%;
    width: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.footer__left .footer__ul li ul li:hover:after {
    width: 80%;
}

.footer__left .footer__ul li ul li a:last-child {
    margin-bottom: 0;
}

.footer__right img {
    width: 160px;
    margin-bottom: 15px;
}

.footer__right .footer__text {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.footer__right p:last-child {
    font-size: 0.7em;
    color: #777777;
}
